fastapi
uvicorn[standard]
motor
pydantic
python-dotenv
easyocr
numpy
pillow
opencv-python-headless
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
-f https://download.pytorch.org/whl/torch_stable.html
